html,
body {
  font-family: 'Roboto Mono', monospace;
  background: #000;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #757575;
}
